<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            padding-bottom: 62px;
        }

        p {
            margin-top: 22px;
            margin-bottom: 18px;
        }
    </style>
</head>
<body>
    <h1>Page not found (404)</h1>
    <p>Oops! The page you're looking for doesn't exist.</p>
    <a href="{% url 'index' %}">Home</a>
</body>
</html>